[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/zentia/spdlog.git
	branch = v1.x
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/zentia/imgui.git
	branch = master
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/zentia/glfw.git
	branch = master
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/zentia/glm.git
	branch = master
[submodule "external/spine-runtimes"]
	path = external/spine-runtimes
	url = https://github.com/zentia/spine-runtimes.git
	branch = 4.2
[submodule "external/reflect-cpp"]
	path = external/reflect-cpp
	url = https://github.com/zentia/reflect-cpp.git
	branch = main
