[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/zentia/imgui.git
	branch = docking
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/zentia/glfw.git
	branch = master
[submodule "external/spine-runtimes"]
	path = external/spine-runtimes
	url = https://github.com/zentia/spine-runtimes.git
	branch = 4.2
[submodule "external/reflect-cpp"]
	path = external/reflect-cpp
	url = https://github.com/zentia/reflect-cpp.git
	branch = main
[submodule "external/taskflow"]
	path = external/taskflow
	url = https://github.com/zentia/taskflow.git
	branch = master
[submodule "external/EASTL"]
	path = external/EASTL
	url = https://github.com/zentia/EASTL.git
	branch = master
[submodule "external/libcds"]
	path = external/libcds
	url = https://github.com/zentia/libcds.git
	branch = master
[submodule "external/LuisaRender"]
	path = external/LuisaRender
	url = https://github.com/zentia/LuisaRender.git
	branch = next
