[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "External/tlsf"]
	path = External/tlsf
	url = https://github.com/mattconte/tlsf.git
	branch = master
